# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\个人项目\reggie\reggie_take_out\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
